USE [master]
GO
/****** Object:  Database [DBHTTN]    Script Date: 1/13/2018 11:39:40 AM ******/
CREATE DATABASE [DBHTTN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHTTN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBHTTN.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBHTTN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBHTTN_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHTTN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHTTN]
GO
/****** Object:  Table [dbo].[COMPETION]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPETION](
	[id] [int] NOT NULL,
	[subtractID] [nchar](10) NOT NULL,
	[testDateBegin] [datetime] NULL,
	[testTimeToLive] [int] NULL,
	[gradeid] [int] NULL,
	[idtest] [int] NULL,
 CONSTRAINT [PK_COMPETION] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[subtractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEMO_COMPETION]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMO_COMPETION](
	[demoCompID] [int] NOT NULL,
	[subtractID] [nchar](10) NOT NULL,
	[expDate] [datetime] NULL,
	[gradeid] [int] NULL,
	[iddemotest] [int] NULL,
 CONSTRAINT [PK_DEMO_COMPETION_1] PRIMARY KEY CLUSTERED 
(
	[demoCompID] ASC,
	[subtractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEMO_RESULT_TEMP]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMO_RESULT_TEMP](
	[stt] [int] NOT NULL,
	[idQuiz] [int] NOT NULL,
	[answer] [nchar](1) NULL,
	[truefalse] [bit] NULL,
 CONSTRAINT [PK_DEMO_RESULT_TEMP] PRIMARY KEY CLUSTERED 
(
	[stt] ASC,
	[idQuiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEMO_TEST]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMO_TEST](
	[demoTestID] [int] NOT NULL,
	[subtractID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DEMO_TEST_1] PRIMARY KEY CLUSTERED 
(
	[demoTestID] ASC,
	[subtractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEMO_TEST_DETAIL]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMO_TEST_DETAIL](
	[demoIdTest] [int] NOT NULL,
	[subtractID] [nchar](10) NOT NULL,
	[stt] [int] NOT NULL,
	[quizID] [int] NULL,
 CONSTRAINT [PK_DEMO_TEST_DETAIL] PRIMARY KEY CLUSTERED 
(
	[demoIdTest] ASC,
	[subtractID] ASC,
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[id] [int] NOT NULL,
	[gradeName] [int] NULL,
 CONSTRAINT [PK_GRADE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GUEST]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUEST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guestid] [nchar](30) NULL,
	[guestpassword] [nchar](1000) NULL,
	[guestName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LEVELQUIZ]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVELQUIZ](
	[id] [int] NOT NULL,
	[levelQuizz] [nvarchar](50) NULL,
 CONSTRAINT [PK_LEVELQUIZ] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUIZ]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUIZ](
	[id] [int] NOT NULL,
	[idSubtract] [nchar](10) NOT NULL,
	[quizz] [nvarchar](1000) NULL,
	[a] [nvarchar](1000) NULL,
	[b] [nvarchar](1000) NULL,
	[c] [nvarchar](1000) NULL,
	[d] [nvarchar](1000) NULL,
	[answer] [nchar](1) NULL,
	[rateHard] [int] NULL,
 CONSTRAINT [PK_QUIZ_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[idSubtract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESULT]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULT](
	[idCom] [int] NOT NULL,
	[idSubtract] [nchar](10) NOT NULL,
	[idStudent] [int] NOT NULL,
	[score] [float] NULL,
	[idtest] [int] NULL,
 CONSTRAINT [PK_RESULT] PRIMARY KEY CLUSTERED 
(
	[idCom] ASC,
	[idSubtract] ASC,
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESULT_TEMP]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULT_TEMP](
	[idCompe] [int] NOT NULL,
	[idStudent] [int] NOT NULL,
	[idSubtract] [nchar](10) NOT NULL,
	[idQuiz] [int] NOT NULL,
	[answer] [nchar](1) NULL,
	[truefalse] [bit] NULL,
 CONSTRAINT [PK_RESULT_TEMP] PRIMARY KEY CLUSTERED 
(
	[idCompe] ASC,
	[idStudent] ASC,
	[idSubtract] ASC,
	[idQuiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [nchar](25) NULL,
	[studentPassword] [nchar](1000) NULL,
	[studentFullname] [nvarchar](50) NULL,
	[studentBirthday] [date] NULL,
	[studentEmail] [nchar](30) NULL,
	[studentClass] [int] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBTRACT]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBTRACT](
	[id] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[gradeID] [int] NULL,
 CONSTRAINT [PK_SUBTRACT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[teacherID] [nchar](30) NULL,
	[teacherPassword] [nchar](1000) NULL,
	[teacherFullname] [nvarchar](50) NULL,
	[teacherEmail] [nchar](25) NULL,
	[teacherBirthday] [date] NULL,
	[teacherSchema] [int] NULL,
 CONSTRAINT [PK_TEACHER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEST]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[id] [int] NOT NULL,
	[subtractID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TEST_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[subtractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEST_DETAIL]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_DETAIL](
	[testID] [int] NOT NULL,
	[subtractID] [nchar](10) NOT NULL,
	[stt] [int] NOT NULL,
	[quizID] [int] NULL,
 CONSTRAINT [PK_TEST_DETAIL] PRIMARY KEY CLUSTERED 
(
	[testID] ASC,
	[subtractID] ASC,
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 1/13/2018 11:39:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[COMPETION]  WITH CHECK ADD  CONSTRAINT [FK_COMPETION_GRADE] FOREIGN KEY([gradeid])
REFERENCES [dbo].[GRADE] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPETION] CHECK CONSTRAINT [FK_COMPETION_GRADE]
GO
ALTER TABLE [dbo].[DEMO_COMPETION]  WITH CHECK ADD  CONSTRAINT [FK_DEMO_COMPETION_DEMO_TEST] FOREIGN KEY([iddemotest], [subtractID])
REFERENCES [dbo].[DEMO_TEST] ([demoTestID], [subtractID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEMO_COMPETION] CHECK CONSTRAINT [FK_DEMO_COMPETION_DEMO_TEST]
GO
ALTER TABLE [dbo].[DEMO_TEST_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_DEMO_TEST_DETAIL_DEMO_TEST] FOREIGN KEY([demoIdTest], [subtractID])
REFERENCES [dbo].[DEMO_TEST] ([demoTestID], [subtractID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEMO_TEST_DETAIL] CHECK CONSTRAINT [FK_DEMO_TEST_DETAIL_DEMO_TEST]
GO
ALTER TABLE [dbo].[QUIZ]  WITH CHECK ADD  CONSTRAINT [FK_QUIZ_LEVELQUIZ] FOREIGN KEY([rateHard])
REFERENCES [dbo].[LEVELQUIZ] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUIZ] CHECK CONSTRAINT [FK_QUIZ_LEVELQUIZ]
GO
ALTER TABLE [dbo].[QUIZ]  WITH CHECK ADD  CONSTRAINT [FK_QUIZ_SUBTRACT] FOREIGN KEY([idSubtract])
REFERENCES [dbo].[SUBTRACT] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUIZ] CHECK CONSTRAINT [FK_QUIZ_SUBTRACT]
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD  CONSTRAINT [FK_RESULT_COMPETION] FOREIGN KEY([idCom], [idSubtract])
REFERENCES [dbo].[COMPETION] ([id], [subtractID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RESULT] CHECK CONSTRAINT [FK_RESULT_COMPETION]
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD  CONSTRAINT [FK_RESULT_STUDENT] FOREIGN KEY([idStudent])
REFERENCES [dbo].[STUDENT] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RESULT] CHECK CONSTRAINT [FK_RESULT_STUDENT]
GO
ALTER TABLE [dbo].[RESULT_TEMP]  WITH CHECK ADD  CONSTRAINT [FK_RESULT_TEMP_COMPETION] FOREIGN KEY([idCompe], [idSubtract])
REFERENCES [dbo].[COMPETION] ([id], [subtractID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RESULT_TEMP] CHECK CONSTRAINT [FK_RESULT_TEMP_COMPETION]
GO
ALTER TABLE [dbo].[SUBTRACT]  WITH CHECK ADD  CONSTRAINT [FK_SUBTRACT_GRADE] FOREIGN KEY([gradeID])
REFERENCES [dbo].[GRADE] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUBTRACT] CHECK CONSTRAINT [FK_SUBTRACT_GRADE]
GO
ALTER TABLE [dbo].[TEST_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TEST_DETAIL_TEST] FOREIGN KEY([testID], [subtractID])
REFERENCES [dbo].[TEST] ([id], [subtractID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TEST_DETAIL] CHECK CONSTRAINT [FK_TEST_DETAIL_TEST]
GO
USE [master]
GO
